[submodule "oci-telemetry-esports-F122-client"]
	path = oci-telemetry-iphone-client
	url = https://github.com/oci-hpc/oci-telemetry-esports-F122-client
[submodule "oci-telemetry-esports-F122-ingestor"]
	path = oci-telemetry-iphone-ingestor
	url = https://github.com/oci-hpc/oci-telemetry-esports-F122-ingestor
[submodule "oci-telemetry-esports-F122-server"]
	path = oci-telemetry-iphone-server
	url = https://github.com/oci-hpc/oci-telemetry-esports-F122-server
